body {
    font-family: Arial, sans-serif;
    background: #e8f5e9;
}

.container {
    width: 500px;
    margin: 60px auto;
    padding: 25px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    color: #2e7d32;
}

input, select, button {
    width: 90%;
    padding: 10px;
    margin: 8px;
}

button {
    background: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background: #2e7d32;
    color: white;
}
